body {
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #555;
}

.add-btn {
  font-family: "Oswald", sans-serif;
  color: rgba(0, 0, 0, 1);
  box-shadow: 8px 2px 24px 2px #a9e19050;
  background-color: #f28f3baa;
  transition: 0.5s;
  margin-left: 8px;
  padding: 0 24px;
  border: none;
  border-radius: 2px;
}

.add-btn:hover {
  background-color: #f28f3b;
}

input[type="text"] {
  font-family: "Oswald", sans-serif;
  color: #555;
}

input[type="text"]:focus {
  outline: none;
}

.container {
  width: 500px;
  height: 600px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 4px 1px 24px 1px #a9e19050;
}

.todo-form {
  display: flex;
  margin-bottom: 8px;
}

.input-todo {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 8px 2px 24px 2px #a9e19050;
}

.todos {
  display: flex;
  border-radius: 2px;
  border-bottom: 1px solid #a9e19050;
  padding: 8px 0;
  justify-content: space-between;
}

.todos-done {
  background-color: gray;
  text-decoration: line-through;
}

.delete-btn > button {
  border: none;
  background-color: #ffffff;
}

.todos-string {
  flex-grow: 2;
  padding-left: 4px;
}
